<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="team.ybj.mappers.AccountMapper">

    <select id="getAccountById" resultType="team.ybj.pojo.YbjAccount">
        select * from ybj_account where anum = #{id}
    </select>

    <select id="getAccountsByCid" resultType="team.ybj.pojo.YbjAccount">
        select * from ybj_account where cid = #{cid}
    </select>

    <select id="getAccountsByEmail" resultType="team.ybj.pojo.YbjAccount">
        select anum, aname, adate, atype, _account.cid, adid from safe.ybj_account _account
        join ybj_customer _customer on _account.cid = _customer.cid
        where cemail = #{cemail};
    </select>

    <insert id="insertAccount" useGeneratedKeys="true" keyProperty="anum">
        insert into ybj_account(anum, aname, adate, atype, cid, adid) values(#{anum},#{aname},#{adate},#{atype},#{cid},#{adid})
    </insert>

    <update id="updateAnameByAnum">
        update ybj_account set aname=#{aname} where anum=#{anum}
    </update>

    <update id="updateAdidByAnum">
        update ybj_account set adid=#{adid} where anum=#{anum}
    </update>

    <delete id="deleteAccountByAnum">
        delete from ybj_account where anum=#{anum}
    </delete>


</mapper>
